.userBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 44vh;
  margin-top: 252px;
}

.headerLine {
  position: absolute;
  top: 0;
  height: 10px;
  width: 100%;
}

.userHeader {
  margin-top: 23px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.userName {
  font-family: 'MapleStory';
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.characterContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.character {
  width: 320px;
  height: 276px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
}

.statusContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.crown {
  color: gold;
  margin-bottom: 3.7vh;
  margin-left: 2.5vw;
}