.Modal{
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 1211px; 
  height: 637px; 
  background-size: cover;
  background-position: center;
  position: fixed;
  background-image: url('../../assets/Image/modal.png');
   filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.4));
}

.content {
  font-family:'Maplestory';
  font-size: 2.6vw;
  z-index: 2;
  color: #463309;
  font-weight: bold;
  text-align: center;
  display: flex;
  gap: 30vh;
}

.button {
  margin-top: 10vh;
}
