.background {
  position: fixed;
  background-image: url('../../assets/Image/blurBackground.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-family: 'Maplestory';
  color: #F8AE01;
  font-size: 6.77vw;
  -webkit-text-stroke: 1.4vw #463309;
  paint-order: stroke;
  margin-bottom: 5vh;
}

.inputContainer {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
}
