.background {
  position: fixed;
  background-image: url("../../assets/Image/characterAppearanceBackground.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}