@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

@font-face {
  font-family: 'Maplestory';
  src: url('../src/assets/fonts/Maplestory Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}