.background {
  position: fixed;
  background-image: url('../../assets/Image/blurBackground.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  left: 10vw;  
  text-align: center;
  font-family: 'Darumadrop One', sans-serif;
  font-size: 10.42vw;
  line-height: 9.375rem; 
  color: #F8AE01;
  -webkit-text-stroke: 1.57vw  #463309;
  paint-order: stroke;
}

.buttonContainer {
  position: absolute;
  right: 10vw;
  display: flex;
  flex-direction: column;
  gap: 4.375rem;
}
